spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:test
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
server:
  servlet:
    encoding:
      force-response: true
mail:
  address:
    admin: admin@gmail.com
jwt:
  secret-key: "dadlkfadskfjldkjflkadjflkadflkadfkjlkdsjafa"    # 민감한 정보는 시스템 환경 변수에서 로드한다.
  access-token-expiration-minutes: 5
  refresh-token-expiration-minutes: 420
